.header {
  padding: 20px;
  border-bottom: 1px solid black;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header div > div h1 {
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  margin: 0;
  padding: 0;
}

.header nav ul {
  display: flex;
  gap: 40px;
  margin: 0;
  list-style-type: none;
}

.header nav ul a {
  color: black;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.header li {
  font-size: 20px;
  font-weight: 400;
}
